body{
    color: rgb(46, 46, 46);
}

#title{
    text-align: center; 
    margin: 0; 
    font-weight: bold; 
    color: crimson;
    font-size: 20px;
}
#subtitle{
    text-align: center; 
    margin: 0; 
    font-style: italic;
    font-size: 15px;
}

/* side nav bar */
.shortcut-buttons-container{
    position: fixed;
    right: -50vw; /* Initially positioned off-screen */
    width: auto; /* Width adjusts to fit content */
    height: auto; /* Height adjusts to fit content */
    top: 6.3vh; 
    padding:5px;
    z-index: 1000; /* Ensures it stays on top of other elements */

    border: 3px solid black;
    border-radius: 20px;
    background-color: gray;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-in-out; /* Siding animation */
}
.shortcut-buttons-container button {
    background-color: rgb(221, 215, 215);
    width: 95%;
    margin: 3px;
    padding: 5px;

    border: 2px solid black;
    border-radius: 15px;

    transition: transform 0.3s ease;
}
/* slides the side nav bar to the left, into view */
.shortcut-buttons-container.show {
    right:-95px; /*Final position when visible*/
    transform: translateX(-100px); /* Brings the container into view */
}

/* slides the side nav bar to the right, out of view */
.shortcut-buttons-container.hide{
    right:-95px; /*Final position when visible*/
    transform: translateX(600px); /* Brings the container into view */
}


/* Show nav bar */
.side-bar-container{
    background-color: transparent;
    width: 100%;
}
#show-categories-button{
    /* background-color: rgb(221, 215, 215);
    width: 100%;
    padding: 3px;
    margin: 5px 0;
    font-weight: bold;
    border-radius: 15px;
    transition: transform 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center; */
    margin: 0vw 3vw; 
    padding: 0px 10px;
    font-size: 7vw; 
    color: crimson;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
} 
/* #left-arrow-emojicon{
    font-weight: bold;
    font-size: 7vw;
    color: crimson;
    padding-left: 9px;
} */

/* button to hide the side nav bar */
#hide-categories-button {
    border-radius: 15px;
    background-color: rgb(252, 252, 252);
    padding: 0;
    margin: 0;

}
#right-arrow-emojicon{
    font-weight: bold;
    font-size: 8vw;
    color: crimson;
}

/* holds the shopping cart display and menu display */
.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 10px;
}

/* shopping cart */
#shopping-cart-title {
    font-weight: bold; 
    text-align: center; 
    padding: 0;
    margin: 5px 0;
}

.shopping-cart-container{
    /* background-color: beige; */
    width:90vw;
    height:27vh;
    margin-bottom: 10px; 
    padding:0; 
    border: 5px double black;
    border-radius: 20px;
}

/* holds the items in the cart */
#shopping-cart-content-container{  /* ol el */
    /* background-color: yellow; */
    height: 100%;
    max-height: 13vh; /* Set a maximum height for the container */
    margin-bottom: 3px;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
    border: 2px solid gray; /* Optional: Add a border for visual clarity */
    border-radius: 10px;
}
#shopping-cart-content-container li{
    list-style-type: none; 
    text-align: left;
}

/* button that removes item in cart */
.remove-item-button{
    border: 2px double black;
    border-radius: 25px;
    margin-right: 20px;
    color: crimson;
    font-weight: bold;
    background-color: white;
    margin-top: 5px;
}

.totals-span-el{
    margin: 0;
}

.shopping-cart-info-display{
    margin-left: 5px;
}
.totals-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}
#dollar-sign{
    font-weight: bold; 
    color:red;
}
#display-grand-total{
    font-family: monospace; 
    font-size: x-large;
    font-weight:bold; 
    color:red; 
}
#clear-shopping-cart-button, #submit-order-button{
    border: 2px solid black;
    border-radius: 10px;
}

/* holds "Empty Cart" and "Sumbit Order" buttons */
.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit-order-button{
    background-color: rgb(60, 139, 52);
    margin-left: 5px;
}
#clear-shopping-cart-button{
    background-color: crimson;
}

#submit-order-button, #clear-shopping-cart-button{
    color:white;
    font-weight: bold;
}


.menu-container{
    /* background-color: tan; */
    display: flex;
    flex-direction: column;
    width:100%;
    overflow-x: hidden; /* Hide horizontal scrolling if not needed */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 58vh; /* Set a maximum height for the container */
    padding: 10px; /* Optional: Add padding inside the container */
}



#render-item-name{
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

#render-item-table{
    table-layout: auto;
    width: auto;
    /* width: 100%; */
}


.name-td{
    /* background-color: rgb(249, 173, 173); */
    width: auto;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.price-td{
    /* background-color: aqua; */
    text-align: center;
}
.quanity-td{
    /* background-color: gray; */
    text-align: center;
    font-family: monospace;
    font-size: 17px;
}
.quanity-button-td{
    /* background-color: purple; */
    text-align: center;
}
.quanity-button-td button {
    font-size: 18px;
}
.quanity-button-td button, .add-button-td button{
    width: 100%; /* Set a fixed width */
    height: 100%; /* Set a fixed height */
    margin: 0;
    padding: 2px 5px; /* t,b = 0px; l,r = 3px */
    display: block;
    border-radius:7px;
    box-sizing: border-box; /* Ensure padding is included in width/height */
    border-color: black;
    background-color: #edba67;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.add-button-td{
    /* background-color: green; */
    text-align: center;
}
.add-button-td button {
    background-color: rgb(60, 139, 52);
    font-weight: bold;
    color:white;
}

