button{
    margin:0;
    padding:0;
}

.body-container{
    display: flex;
}

.item-container{
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 50vw;
}

.name-container {
    width: 20vw;
    margin-top: 0;
    font-size: 1.5vw;
    line-height: 2em;
}

.price-container{
    width: 5vw;
    list-style: none;
    margin-top: 0;
    text-align:center;
    background: red;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5vw;
    line-height: 2em;
}
.quanity-button-container{
    background-color: orange;
    margin-top: 0;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.quanity-button-container button{
    background-color: beige;
    font-size: 1.5vw;

    padding-left: 5px;
    padding-right: 5px;

    line-height: 2em;
    
    border: none;
    border-radius: 15px;
}

.display-quanity-container{
    text-align: center;
    background-color: yellow;
    margin-top: 0;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 1.5vw;
    line-height: 2em;
}
.add-button-container{
    list-style: none;
    margin-top: 0;
    background-color: navy;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.add-button-container button{
    background-color: lightsteelblue;
    font-size: 1.5vw;
    line-height: 2em;
    border: none;
    border-radius: 15px;

    padding-left: 5px;
    padding-right: 5px;
}

.remove-item-button{
    margin-right: 5px;
}

.menu-container{
    /* margin-top: 100px; */
    background-color: tan;
    width:75vw;
}
.shopping-cart-container{
    background-color: beige;
    width:35vw;
    padding:10px;
    position: fixed;
    top: 45vh; 
    right: 20px;
    z-index: 1000; /* Ensures it stays on top of other elements */
    border: solid 3px black;
    border-radius: 20px;
}

#shopping-cart-content-container{
    list-style: circle;
}

.shortcut-buttons-container{
    width:38vw;
    height: auto;
    padding:10px;
    position: fixed;
    top: 5vh; 
    /* right: 20px; */
    right: -50vw; /* Initially positioned off-screen */
    z-index: 1000; /* Ensures it stays on top of other elements */
    border: solid 3px black;
    border-radius: 20px;
    background-color: gray;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.shortcut-buttons-container button {
    background-color: rgb(221, 215, 215);
    width: 100%;
    padding: 5px;
    margin: 3px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.shortcut-buttons-container.show {
    right:-95px; /*Final position when visible*/
    transform: translateX(-100px); /* Brings the container into view */
}


button:hover{
    background-color: rgb(136, 199, 238);
    transform: scale(1.2);
}

.headerText {
    font-weight: bold; 
    text-align: center; 
    font-size: 1.3rem;
}