button{
    margin:0;
    padding:0;
}

.body-container{
    display: flex;
}

.item-container{
    display: flex;
    flex-direction: row;
    background-color: gray;
}

/* #Appetizers-price-container{
    list-style: none;
    text-align:center;
    background: red;
    padding-left: 10px;
    padding-right: 10px;
}

#Appetizers-quanity-display-container{
    text-align: center;
    background-color: yellow;
    margin-top: 0;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}


#Appetizers-quanity-button-container{
    background: orange;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

#Appetizers-quanity-button-container li {
    background-color: lavender;
}

.decrement-quanity-button{
    margin-left: 5px;
}

#Appetizers-add-button-container{
    list-style: none;
    background-color: navy;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
#Appetizers-name-container, #Appetizers-price-container, #Appetizers-add-button-container, #Appetizers-quanity-button-container{
    margin-top: 0;
} */

.name-container {
    width: 12vw;
    margin-top: 0;
}

.price-container{
    width: 50px;
    list-style: none;
    margin-top: 0;
    text-align:center;
    background: red;
    padding-left: 10px;
    padding-right: 10px;
}

.quanity-button-container{
    background-color: orange;
    margin-top: 0;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.display-quanity-container{
    text-align: center;
    background-color: yellow;
    margin-top: 0;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.add-button-container{
    list-style: none;
    margin-top: 0;
    background-color: navy;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.remove-item-button{
    margin-right: 5px;
}

.menu-container{
    background-color: tan;
    width:75vw;
}
.shopping-cart-container{
    background-color: beige;
    width:50vw;
}

#shopping-cart-content-container{
    list-style: circle;
}
